#adminmenu #toplevel_page_bleuh-admin img {
    width: 20px;
    height: 20px;
}

table#admin-vars tr:hover td{
    background: #0a6ebd;
}

table.lots td {
    padding: 20px;
    border: 1px solid #000;
}
table.lots th {
    padding: 10px;
    border: 1px solid #555;
}

table.lots tr:hover td {
    background: #fff;
}

.admin-landing-page hr {
    border: 2px solid #0a6ebd;
}